{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="homepage">
    <img class="logo" src="{{ asset('build/images/logo.png') }}" alt="">
    <span class="text-shadow">Clique sur ma moustache pour commencer ton CALC</span>
    <span class="homepageLink"><a class="" href="{{ path('app_login')}}"><img class="farmer" src="{{ asset('build/images/fermier.png') }}" alt=""></a></span>
    
    
    </div>
{% endblock %}
