{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="homepage">
    <img class="logo" src="{{ asset('build/images/logo.png') }}" alt="">
    <span class="text-shadow">Besoin de conseils ?</span>
    <span class="link text-shadow"><a href="{{ path('app_login')}}">Commencer mon CALC</a></span>
    
    {# <img class="farmer" src="{{ asset('build/images/fermier.png') }}" alt=""> #}
    </div>
{% endblock %}
