{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    
    <h1>Bienvenue sur WiziFarm-Calc</h1>
    
    <a href="{{ path('app_login')}}">S'identifier</a>
    
    <img class="farmer" src="build/images/fermier.8fbd2f48.png" alt="">
{% endblock %}
