{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <img class="logo" src="build/images/logo.9fc7d468.png" alt="">
    
    <a href="{{ path('app_login')}}">S'identifier</a>
    
    <img class="farmer" src="build/images/fermier.8fbd2f48.png" alt="">
{% endblock %}
