{% extends 'base.html.twig' %}
{% block title %}Hello LicencePlateController!{% endblock %}

{% block body %}
{% include 'logo.html.twig' %}
<div class="search">
<img class="plaque" src="{{ asset('build/images/plaque.png') }}" alt="">
</div>
<input class="input" type="text"required
    minlength="7" maxlength="9"</input>
<a href="{{ path('tractor_index') }}"><img class="valider" src="{{ asset('build/images/valider.png') }}" alt="">
</a>
{% endblock %}
