{% extends 'base.html.twig' %}
{% block title %}Hello LicencePlateController!{% endblock %}

{% block body %}
{% include 'logo.html.twig' %}
<div class="search">
<img class="plaque" src="{{ asset('build/images/plaque.png') }}" alt="">
</div>
<form action="{{ path('tractor_index') }}" method='post'>
<input class="input" type="text" name="plate" required
    minlength="7" maxlength="9"</input>
<button class="button" type="submit"><img class="valider" src="{{ asset('build/images/valider.png') }}" alt=""></button>
</form>
{% endblock %}
