@import 'variables.scss';

body {
    font-size: 50px;
    background: url(../images/back.png) no-repeat center;
    background-size: cover;
    color: $green-color;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 70%;
    padding: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.buttonHomepage{
    box-shadow:inset 0px 0px 12px -2px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:17px;
	display:inline-block;
	color:#306108;
	font-size:50px;
	font-weight:bold;
	padding:20px 56px;
	text-shadow:0px 1px 0px #aade7c;
    font-family: 'Chakra Petch', sans-serif;
    text-decoration: none;
}
.text-shadow{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    text-align: center;

}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:3%;
    color: rgb(11, 38, 87);


}
.form-control{
    height: 100px;
    width: 600px;
    font-size: 30px;
    margin: 2%;
    border-radius: 17px;
    font-family: 'Chakra Petch', sans-serif;
}
.inputText{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    color:  rgb(11, 38, 87);
}
.btn-login{
    height: 60px;
    width: 250px;
    font-size: 30px;
    margin:4%;
}
.search{
    flex-direction: column;
    align-items: center;
}
.plaque{
    margin-left: 10%;
    height: 4em;
    margin-top: 10%;
}
.input{
    height: 200px;
    width: 600px;
    margin-left: 22.6%;
    margin-top: -213px;
    position: absolute;
    font-size: 100px;
    text-align: center;
}
.valider{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 20%;
}

.button{
    padding: 0;
    border: none;
    background: none;
}

.back2{
    background: url(../images/back2.jpeg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 70%;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;

}
.buttons{
    width: 2em;
    // filter: invert(100%);
}
.footer{
    margin-top:50%;
    display: flex;
    justify-content:space-around;
}
.row{
    font-family: 'Chakra Petch', sans-serif;
    border-radius: 20px;
    height: 100px;
    width: 700px;
}